html, body {
	background: #EEE;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

form {
	background: #fff;
	padding: 10px;
}

ul {
	min-height: 100px;
	margin: 0;
	padding: 0;
	text-align: left;
	list-style: none;

	li {
		padding: 10px;
		background: #FFF;
		border-bottom: 1px solid #EEE;

		&:nth-child(2n) {
			background: #EEF6FF;
		}
		&:last-child {
			border-bottom: none;
		}
	}
}

a {
	text-decoration: none;
	color: rgb(103,58,183);
}

p, .profile {
	text-align: center;
	padding: 10px;
}

.mdl-card {
	margin: auto;
	transition: all .3s;
	transform: translateY(100px);
}
